@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

header {
  background: #d0cdd7;
}

.isActive {
  font-weight: bold;
}

.main-container {
  width: 100%;
  margin-bottom: 200px;
}
.main-container .main-container-image {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}
.main-container .image-index {
  background-image: url("../assets/img/home.jpeg");
  background-color: blue;
}
.main-container .image-rooms {
  background-image: url("../assets/img/fondo3.jpg");
}
.main-container .titulo {
  font-size: 2.6rem;
  padding: 32px;
}
.main-container .main-container-text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-container .main-container-text p {
  font-size: 1.8rem;
  padding: 0 32px;
  line-height: 3rem;
}
.main-container .main-container-text .rooms-services {
  height: 300px;
  width: 75vw;
  min-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.main-container .main-container-text .rooms-services p {
  width: 50%;
  min-width: 320px;
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: 0 0 16px 16px;
  display: flex;
  align-items: center;
}
.main-container .main-container-text .rooms-services p span {
  padding-right: 6px;
}
.main-container .main-container-text .services-item {
  width: 260px;
  height: 100px;
  background-color: #d9dbf1;
  color: #0b3948;
  margin: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border-radius: 0 32px 0 32px;
}
.main-container .main-container-cards {
  justify-content: center;
}
.main-container .main-container-cards section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 20px 20px;
  height: 300px;
  width: 200px;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  background-color: #d0cdd7;
}
.main-container .main-container-cards .cards {
  height: auto;
  text-align: center;
}
.main-container .main-container-cards .cards .card-item {
  margin: 10px;
  padding: 20px;
  background-color: #d0cdd7;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  border-radius: 6px;
}
.main-container .main-container-cards .cards .card-item h3 {
  font-size: 2.6rem;
}
.main-container .main-container-cards .cards .card-item img {
  width: 70%;
  border-radius: 10px;
}
.main-container .main-container-cards .cards .card-item p {
  font-size: 2rem;
  margin-top: 10px;
}
.main-container .main-container-cards .cards .card-item p span {
  padding-right: 8px;
}
.main-container .main-container-cards .cards .card-item button {
  width: 100px;
  height: 40px;
  border-radius: 6px;
  font-size: 1.8rem;
  background-color: #acb0bd;
  border: 2px solid #0b3948;
  color: #0b3948;
  cursor: pointer;
  transition: all 0.8s;
}
.main-container .main-container-cards .cards .card-item button:hover {
  background-color: #0b3948;
  color: #acb0bd;
  cursor: pointer;
  width: 200px;
  transition: all 2s;
}

footer {
  width: 100%;
  font-size: 1.4rem;
  background-color: #d0cdd7;
  border-top: 16px solid #acb0bd;
  padding: 10px 30px;
}
footer .footer-nav {
  padding-top: 8px;
  display: flex;
}
footer .footer-nav .footer-nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 70%;
}
footer .footer-nav .footer-nav-left ul {
  font-size: 1.2rem;
  line-height: 2rem;
}
footer .footer-nav .footer-nav-left ul li span {
  font-weight: 700;
}
footer .footer-nav .footer-nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
}
footer .footer-nav .footer-nav-right ul {
  display: flex;
}
footer .footer-nav .footer-nav-right ul img {
  width: 30px;
  margin: 0 8px;
  cursor: pointer;
  transition: 0.4s;
}
footer .footer-nav .footer-nav-right ul img:hover {
  transform: scale(1.3);
  transition: 0.4s;
}
footer .footer-bottom {
  text-align: center;
  font-size: 1rem;
  padding: 8px 0;
}

@media (max-width: 450px) {
  .main-container-text .rooms-services p {
    font-size: 1.6rem;
    color: red;
  }
  footer .footer-nav-right img {
    width: 24px;
    margin: 0 2px;
  }
}
@media (max-width: 360px) {
  footer {
    background-color: red;
  }
  footer .footer-nav-right img {
    width: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
