* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
  }
  
  html {
    font-size: 62.5%;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  li {
    list-style: none;
  }