@media (max-width: 450px) {
  .main-container-text {
    .rooms-services {
      p {
        font-size: 1.6rem;
        color:red;//solo para chequear que ande

      }
    }
  }
  footer {
    .footer-nav-right {
      img {
        width: 24px;
        margin: 0 2px;
      }
    }
  }
}

@media (max-width: 360px) {
  footer {
    background-color: red; //solo para chequear que ande

    .footer-nav-right {
      img {
        width: 18px;
      }
    }
  }
}