@media (max-width: 450px) {

.main-container {
  .main-container-text {
    .rooms-services {
      p {
        font-size: 1.8rem;
      }
    }
  }
}
  
  footer {
    .footer-nav{
      .footer-nav-right {
        ul{
          img {
            width: 24px;
            margin: 0 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  footer {
    .footer-nav{
      .footer-nav-right {
        ul{
          img {
            width: 18px;
          }
        }
      }
    }
    .footer-bottom {
      p {
        font-size: 1rem;
      }
    }
  }
}