//Variables
$one: #d9dbf1;
$two: #d0cdd7;
$three: #acb0bd;
$four: #416165;
$five: #0b3948;
$font: "Josefin Sans", sans-serif;
$font-title: 2.6rem;
$font-subtitle: $font-title - 0.6rem;
$font-text: $font-title - 0.8rem;
